<div>
    <%- include('../components/form', {
        fields_config: response.fields_config || [],
        back_route: response.back_route,
        next_route: response.next_route,
        default_values: response.default_values || {},
        options_list: response.options_list || {}
    }) %>
</div>