<div class="admin-dashboard-container">
    <div id="bg">
        <canvas></canvas>
        <canvas></canvas>
        <canvas></canvas>
    </div>
    <div class="banner-container">
        <h2>Chào Mừng Đến Trang Quản Trị</h2>
        <h6>Bạn có thể quản trị website tại đây</h6>
        <div class="db-user-info">
            <img src="/assets/images/default-avatar.jpg" alt="Avatar" class="avatar">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="dashboard-info">
                <a href="admin/logs">Xem nhật ký hệ thống</a>
            </div>
        </div>
    </div>
</div>

<script src="/assets/libraries/jquery/2.1.3/jquery.min.js"></script>
<script src="/assets/js/bg-animate.js"></script>