<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="logs-content">
                <textarea rows="20" disabled style="width: 100%;">
                    <%= data %>
                </textarea>
            </div>
        </div>
        <a href="logs/delete">Xóa Log</a>
    </div>
</div>
