<div class="container about-container">
    <div class="row">
        <div class="col-12">
            <div class="session-title">
                <h3>Nghiện Decor - Chúng tôi là ai?</h3>
            </div>

            <div>
                <h5>
                    Nghiện Decor là cửa hàng chuyên cung cấp các sản phẩm nội thất,
                    vật dụng trang trí và cây cảnh, giúp bạn tạo nên không
                    gian sống đẹp và ấm cúng. Chúng tôi cam kết mang đến
                    những sản phẩm chất lượng cao với thiết kế độc đáo, đáp
                    ứng mọi nhu cầu của khách hàng.
                </h5>
            </div>

            <div class="session-title">
                <h3>Giá trị cốt lõi</h3>
            </div>

            <div>
                <h5 class="text-align-center">
                    Vì sứ mệnh tạo nên những giá trị thương hiệu, chúng tôi
                    đã, đang và sẽ luôn nỗ lực hết mình vì sự phát triển –
                    khẳng định thương hiệu Việt, mang lại những giá trị lâu
                    dài cho doanh nghiệp.
                </h5>
                <br /><br />
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="core-value-item text-align-center">
                            <img src="/assets/icons/about-icon-1.webp" />
                            <h4>Giá trị cốt lõi</h4>
                            <br />
                            <h6>
                                Tại Nghiện Decor, chúng tôi luôn coi khách hàng như
                                người bạn thân thiết, mang đến những sản
                                phẩm và dịch vụ vượt trội.
                            </h6>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="core-value-item text-align-center">
                            <img src="/assets/icons/about-icon-2.webp" />
                            <h4>Tầm nhìn và sứ mệnh</h4>
                            <br />
                            <h6>
                                Với phương châm luôn đề cao sự trải nghiêm,
                                chúng tôi không ngừng cố gắng để cải thiện
                                chất lượng sản phẩm và dịch vụ dành cho
                                khách hàng.
                            </h6>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="core-value-item text-align-center">
                            <img src="/assets/icons/about-icon-3.webp" />
                            <h4>Thế mạnh của chúng tôi</h4>
                            <br />
                            <h6>
                                Chúng tôi tự hào về sự đa dạng sản phẩm,
                                dịch vụ chuyên nghiệp và tận tình tại Nghiện Decor.
                            </h6>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="core-value-item text-align-center">
                            <img src="/assets/icons/about-icon-4.webp" />
                            <h4>Hỗ trợ 24/7</h4>
                            <br />
                            <h6>
                                Chúng tôi sẵn lòng hỗ trợ khách hàng mọi
                                lúc, mọi nơi. Đừng ngần ngại liên hệ với
                                chúng tôi bất cứ khi nào bạn cần.
                            </h6>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="core-value-item text-align-center">
                            <img src="/assets/icons/about-icon-5.webp" />
                            <h4>Chính sách đổi trả</h4>
                            <br />
                            <h6>
                                Bạn có thể yên tâm mua sắm tại FORCAT SHOP
                                vì chúng tôi chấp nhận đổi trả trong vòng 30
                                ngày kể từ ngày mua hàng.
                            </h6>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="core-value-item text-align-center">
                            <img src="/assets/icons/about-icon-6.webp" />
                            <h4>Bảo mật thông tin</h4>
                            <br />
                            <h6>
                                Chúng tôi cam kết tuân thủ các quy định pháp
                                luật về bảo vệ dữ liệu và sử dụng thông tin
                                cá nhân của khách hàng một cách cẩn thận và
                                công bằng.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
