<div class="container contact-container">
    <div class="row">
        <div class="col-12">
            <div class="session-title">
                <h3>Liên Hệ</h3>
            </div>

            <div class="row contact-frame session-row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div>
                        <h3>Nghiện Decor</h3>
                        <br>
                        <h6>Email: <a href="mailto:support@nghiendecor.com">support@nghiendecor.com</a></h6>
                        <br>
                        <h6>Số điện thoại: <a href="tel:0123 465 789">0123 465 789</a></h6>
                        <br>
                        <h6>Địa chỉ: <a href="https://maps.app.goo.gl/e6DfGqmtJK9KViQo8" target="_blank">Thành phố Hồ Chí Minh</a></h6>
                        <br>
                        <div class="socials-list">
                            <a href="https://www.facebook.com" data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank">
                                <img src="/assets/icons/facebook.svg" alt="facebook" />
                            </a>
                            <a href="https://zalo.me" data-toggle="tooltip" data-placement="top" title="Zalo" target="_blank">
                                <img src="/assets/icons/zalo.svg" alt="zalo" />
                            </a>
                            <a href="mailto:support@nghiendecor.com" data-toggle="tooltip" data-placement="top" title="Email" target="_blank">
                                <img src="/assets/icons/email.svg" alt="email" />
                            </a>
                            <a href="https://www.youtube.com" data-toggle="tooltip" data-placement="top" title="Youtube" target="_blank">
                                <img src="/assets/icons/youtube.svg" alt="youtube" />
                            </a>
                            <a href="https://www.tiktok.com" data-toggle="tooltip" data-placement="top" title="Tiktok" target="_blank">
                                <img src="/assets/icons/tiktok.svg" alt="tiktok" />
                            </a>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div>
                        <h3 class="text-align-center">Gửi tin nhắn cho chúng tôi</h3>
                        <form class="contact-form">
                            <div class="form-group">
                                <label for="name">Họ Tên</label>
                                <input type="text" id="name" name="name" required>
                            </div>
                
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" required>
                            </div>
                
                            <div class="form-group">
                                <label for="phone">Số Điện Thoại</label>
                                <input type="tel" id="phone" name="phone" required>
                            </div>
                
                            <div class="form-group">
                                <label for="message">Tin Nhắn</label>
                                <textarea id="message" name="message" rows="4" required></textarea>
                            </div>
                
                            <button type="submit">Gửi</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row session-row">
                <div class="col-12">
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d501725.4184716833!2d106.36558075877727!3d10.755292846941423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529292e8d3dd1%3A0xf15f5aad773c112b!2zVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1721892847657!5m2!1svi!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
