<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="footer-content">
                    <div class="logo">
                        <a id="menu_item" href="/"><img src="/assets/images/logo.svg" alt="logo" /></a>
                    </div>

                    <h6>Thỏa sức sáng tạo với ngôi nhà của bạn</h6>

                    <div class="socials-list">
                        <a href="https://www.facebook.com" data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank">
                            <img src="/assets/icons/facebook.svg" alt="facebook" />
                        </a>
                        <a href="https://zalo.me" data-toggle="tooltip" data-placement="top" title="Zalo" target="_blank">
                            <img src="/assets/icons/zalo.svg" alt="zalo" />
                        </a>
                        <a href="mailto:support@decor.com" data-toggle="tooltip" data-placement="top" title="Email" target="_blank">
                            <img src="/assets/icons/email.svg" alt="email" />
                        </a>
                        <a href="https://www.youtube.com" data-toggle="tooltip" data-placement="top" title="Youtube" target="_blank">
                            <img src="/assets/icons/youtube.svg" alt="youtube" />
                        </a>
                        <a href="https://www.tiktok.com" data-toggle="tooltip" data-placement="top" title="Tiktok" target="_blank">
                            <img src="/assets/icons/tiktok.svg" alt="tiktok" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="footer-content">
                    <div class="footer-title">Về Nghiện Decor</div>
                    <div class="footer-link">
                        <a href="/about">Giới Thiệu</a>
                    </div>
                    <div class="footer-link">
                        <a href="#">Điều Khoản Chung</a>
                    </div>
                    <div class="footer-link">
                        <a href="#">Chính Sách Bảo Mật</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="footer-content">
                    <div class="footer-title">Liên Hệ</div>
                    <div class="footer-link">
                        <a href="https://maps.app.goo.gl/e6DfGqmtJK9KViQo8" target="_blank">
                            <svg class="icon icon-location nav-info-icon"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-location"></use></svg>
                            Thành phố Hồ Chí Minh
                        </a>
                    </div>
                    <div class="footer-link">
                        <a href="mailto:support@decor.com">
                            <svg class="icon icon-mail nav-info-icon"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-mail"></use></svg>
                            <span>support@decor.com</span>
                        </a>
                    </div>
                    <div class="footer-link">
                        <a href="tel:0123 456 789">
                            <svg class="icon icon-call nav-info-icon"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-call"></use></svg>
                            <span>0123 456 789</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer-bottom">&copy; 2024 Bản Quyền Thuộc Nghiện Decor</div>
        </div>
    </div>
</footer>
