<div class="row mb-16 testimonials-cta-service-container">
    <div class="col-lg-3 col-md-3 col-sm-12 mb-16">
        <div class="testimonial-container">
            <div class="swiper swiper-cards">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-card">
                            <img
                                src="/assets/images/testimonial-1.jpg"
                                alt="Kim Ngọc"
                                class="testimonial-banner"
                                width="80"
                                height="80"
                            />

                            <p class="testimonial-name">Kim Ngọc</p>

                            <p class="testimonial-title">Đã Mua Hàng</p>

                            <img
                                src="/assets/icons/quotes.svg"
                                alt="quotation"
                                class="quotation-img"
                                width="26"
                            />

                            <p class="testimonial-desc">
                                Mình cảm thấy rất hài lòng về sản phẩm và cách
                                phục vụ của Shop. Sản phẩm đóng gói kĩ càng và
                                giao hàng nhanh chóng.
                                <br />
                                Sẽ tiếp tục ủng hộ Shop nha.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-card">
                            <img
                                src="/assets/images/default-avatar.jpg"
                                alt="Kim Ngân"
                                class="testimonial-banner"
                                width="80"
                                height="80"
                            />

                            <p class="testimonial-name">Kim Ngân</p>

                            <p class="testimonial-title">Đã Mua Hàng</p>

                            <img
                                src="/assets/icons/quotes.svg"
                                alt="quotation"
                                class="quotation-img"
                                width="26"
                            />

                            <p class="testimonial-desc">
                                Mình cảm thấy rất hài lòng về sản phẩm và cách
                                phục vụ của Shop. Sản phẩm đóng gói kĩ càng và
                                giao hàng nhanh chóng.
                                <br />
                                Sẽ tiếp tục ủng hộ Shop nha.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cards-swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mb-16">
        <div class="cta-container">
            <div class="swiper swiper-single-slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cta-card">
                            <img
                                src="/assets/images/cta-banner.png"
                                alt="Tết nguyên đán"
                                class="cta-banner"
                            />

                            <a href="#" class="cta-content">
                                <p class="discount">
                                    Giảm giá 25% toàn bộ sản phẩm
                                </p>

                                <h2 class="cta-title">Tết nguyên đán</h2>

                                <p class="cta-text">
                                    Bắt đầu từ 05/01/2024 đến 10/01/2024
                                </p>

                                <button class="cta-btn">Xem Sản Phẩm</button>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cta-card">
                            <img
                                src="/assets/images/cta-banner.png"
                                alt="Tết nguyên đán"
                                class="cta-banner"
                            />

                            <a href="#" class="cta-content">
                                <p class="discount">
                                    Giảm giá 25% toàn bộ sản phẩm
                                </p>

                                <h2 class="cta-title">Tết nguyên đán</h2>

                                <p class="cta-text">
                                    Bắt đầu từ 05/01/2024 đến 10/01/2024
                                </p>

                                <button class="cta-btn">Xem Sản Phẩm</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="slide-swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 mb-16">
        <div class="service-container">
            <a href="#" class="service-item">
                <svg class="icon icon-shipping">
                    <use
                        xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-shipping"
                    ></use>
                </svg>

                <div class="service-content">
                    <h3 class="service-title">Miễn Phí Vận Chuyển</h3>
                    <p class="service-desc">Cho đơn hàng dưới 10km</p>
                </div>
            </a>

            <a href="#" class="service-item">
                <svg class="icon icon-rocket">
                    <use
                        xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-rocket"
                    ></use>
                </svg>

                <div class="service-content">
                    <h3 class="service-title">Giao Hàng Nhanh Chóng</h3>
                    <p class="service-desc">Chỉ Từ 1 đến 2 ngày</p>
                </div>
            </a>

            <a href="#" class="service-item">
                <svg class="icon icon-call">
                    <use
                        xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-call"
                    ></use>
                </svg>

                <div class="service-content">
                    <h3 class="service-title">Hỗ Trợ Tư Vấn</h3>
                    <p class="service-desc">Các ngày trong tuần, 24/7</p>
                </div>
            </a>

            <a href="#" class="service-item">
                <svg class="icon icon-undo">
                    <use
                        xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-undo"
                    ></use>
                </svg>

                <div class="service-content">
                    <h3 class="service-title">Chính Sách Hoàn Trả</h3>
                    <p class="service-desc">Dễ Dàng và Nhanh Chóng</p>
                </div>
            </a>

            <a href="#" class="service-item">
                <svg class="icon icon-ticket">
                    <use
                        xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-ticket"
                    ></use>
                </svg>

                <div class="service-content">
                    <h3 class="service-title">Giảm Giá Sâu</h3>
                    <p class="service-desc">Cho đơn hàng giá trị</p>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Initialize Swiper -->
<script src="/assets/js/swiper/cards.js"></script>
<script src="/assets/js/swiper/slides.js"></script>
