/* ---------------------- Layout Styles ---------------------- */
.admin-layout {
    display: flex;
    min-height: 100vh;
}

.admin-layout .admin-aside {
    width: 220px;
    min-width: 220px;
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: width 0.3s;
}

.admin-layout .aside-header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-layout .aside-header h3 {
    transition:
        opacity 1s,
        width 0.3s;
    height: 30px;
    color: #fff;
}

.admin-layout .aside-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.admin-layout .menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.admin-layout .menu-item a {
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.admin-layout .menu-item:hover {
    background-color: #34495e;
}

.admin-layout .menu-item.active {
    background-color: #1abc9c;
}

.admin-layout .sidebar-icon {
    margin-right: 16px;
    width: 20px;
    height: 20px;
}

.admin-layout .title {
    transition:
        opacity 0.3s,
        width 0.3s;
}

.admin-layout .aside-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.admin-layout .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-decoration: none;
    color: #fff;
    background-color: #e74c3c;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.admin-layout .logout svg {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.admin-layout .logout:hover {
    background-color: #c0392b;
}

.admin-layout .admin-aside .logout span {
    transition:
        opacity 0.3s,
        width 0.3s;
}

.admin-layout .admin-aside.collapsed {
    width: 80px;
    min-width: 80px;
}

.admin-layout .admin-aside.collapsed .aside-header {
    justify-content: center;
}

.admin-layout .admin-aside.collapsed .aside-header h3 {
    opacity: 0;
    width: 0;
    overflow: hidden;
}

.admin-layout .admin-aside.collapsed .menu-item,
.admin-layout .admin-aside.collapsed .menu-item a {
    justify-content: center;
}

.admin-layout .admin-aside.collapsed .icon {
    margin-right: 0;
}

.admin-layout .admin-aside.collapsed .title {
    opacity: 0;
    width: 0;
    height: 20px;
    overflow: hidden;
}

.admin-layout .admin-aside.collapsed .logout span {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* Layout content */
.admin-layout .admin-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Layout nav */
.admin-layout .admin-nav {
    height: 60px;
    padding: 10px 16px;
    background-color: #ecf0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-layout .nav-toggle,
.admin-layout .aside-toggle {
    display: block;
    color: #696cff;
    border: 1px solid #696cff;
    border-radius: 5px;
}

.admin-layout .admin-nav h1 {
    margin: 0;
    font-size: 24px;
}

.admin-layout .nav-right {
    display: flex;
    align-items: center;
}

.admin-layout .user-info {
    display: flex;
    align-items: center;
    border: 2px solid #696cff;
    padding: 4px 8px;
    border-radius: 20px;
}

.admin-layout .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 8px;
    border: 1px solid #fff;
}

.admin-layout .username {
    font-size: 16px;
    font-weight: 500;
    color: #696cff;
}

/* Layout main */
.admin-layout .admin-main {
    flex: 1;
    padding: 16px;
    max-height: calc(100vh - 90px);
    max-width: 100vw;
    overflow: auto;
}

/* Layout footer */
.admin-layout .admin-footer {
    background-color: #ecf0f1;
    text-align: center;
    padding: 4px;
    height: 30px;
}

/* Layout responsive */
.admin-layout .nav-toggle,
.admin-layout .aside-toggle,
.admin-layout .collapse-toggle {
    display: none;
}

@media (max-width: 768px) {
    .admin-layout .admin-aside {
        position: fixed;
        left: -250px;
        top: 0;
        bottom: 0;
        z-index: 1000;
    }

    .admin-layout .admin-aside.active {
        left: 0;
    }

    .admin-layout .aside-toggle {
        display: block;
    }

    .admin-layout .nav-toggle {
        display: block;
    }

    .admin-layout .collapse-toggle {
        display: none;
    }

    .admin-layout .admin-content {
        margin-left: 0;
    }

    .admin-layout .admin-nav .user-info {
        display: none;
    }
}

@media (max-width: 575px) {
    .admin-layout .admin-nav .user-info {
        display: none;
    }
}

@media (min-width: 768px) {
    .admin-layout .collapse-toggle {
        display: block;
        background-color: #34495e;
        border: none;
        color: #ecf0f1;
        cursor: pointer;
    }
}

/* ---------------------- Dashboard Styles ---------------------- */
.admin-dashboard-container #bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.admin-dashboard-container #bg canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.admin-dashboard-container .banner-container {
    background: #ffffff59;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
}

.admin-dashboard-container .banner-container h2,
.admin-dashboard-container .banner-container h6 {
    color: #fff;
    margin-bottom: 16px;
}

.admin-dashboard-container .db-user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.admin-dashboard-container .db-user-info h1,
.admin-dashboard-container .db-user-info h6 {
    color: #fff;
    margin-bottom: 8px;
}

.admin-dashboard-container .db-user-info .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.admin-dashboard-container .dashboard-info {
    background: #ffffff59;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    color: #fff;
    margin-top: 16px;
}

.admin-dashboard-container .dashboard-info h1 {
    color: #00ff00;
    margin-bottom: 16px;
}

.admin-dashboard-container .dashboard-info h6 {
    color: #fff;
    margin-bottom: 16px;
}

.admin-dashboard-container .dashboard-info a {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 575px) {
    .admin-dashboard-container .banner-container,
    .admin-dashboard-container .dashboard-info {
        background: #ffffffdb;
    }
    .admin-dashboard-container a,
    .admin-dashboard-container h1,
    .admin-dashboard-container h6,
    .admin-dashboard-container h2 {
        color: #696cff !important;
    }

    .admin-dashboard-container .dashboard-info h1 {
        color: #00ff00 !important;
    }
}

/* ---------------------- Login Styles ---------------------- */
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    width: 520px;
    height: 500px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #ffffff25;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.03);
    border: 0.1px solid rgba(128, 128, 128, 0.178);
}

.login-form .form-title {
    font-size: 1.2em;
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8px;
}

.login-form .left {
    width: 66%;
    height: 100%;
}

.login-form .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    left: 0;
    backdrop-filter: blur(20px);
    position: relative;
}

.login-form .form::before {
    position: absolute;
    content: '';
    width: 40%;
    height: 40%;
    right: 1%;
    z-index: -1;
    background: radial-gradient(
        circle,
        rgb(194, 13, 170) 20%,
        rgb(26, 186, 235) 60%,

        rgb(26, 186, 235) 100%
    );
    filter: blur(70px);
    border-radius: 50%;
}

.login-form .right {
    width: 34%;
    height: 100%;
}

.login-form .img {
    width: 100%;
    height: 100%;
}

.login-form::after {
    position: absolute;
    content: '';
    width: 80%;
    height: 80%;
    right: -40%;
    background: rgb(157, 173, 203);
    background: radial-gradient(
        circle,
        rgba(157, 173, 203, 1) 61%,
        rgba(99, 122, 159, 1) 100%
    );
    border-radius: 50%;
    z-index: -1;
}

.login-form .input,
.login-form button {
    background: rgba(253, 253, 253, 0);
    outline: none;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 8px;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    display: block;
    color: #425981;
    font-weight: 500;
    font-size: 1.1em;
}

.login-form .input-block {
    position: relative;
}

.login-form label {
    position: absolute;
    left: 15%;
    top: 37%;
    pointer-events: none;
    color: gray;
}

.login-form .forgot {
    display: block;
    margin: 5px 0 10px 0;
    margin-left: 35px;
    color: #5e7eb6;
    font-size: 0.9em;
}

.login-form .input:focus + label,
.login-form .input:valid + label {
    transform: translateY(-120%) scale(0.9);
    transition: all 0.4s;
}

.login-form button {
    background-color: #5e7eb6;
    color: white;
    font-size: medium;
    box-shadow: 2px 4px 8px rgba(70, 70, 70, 0.178);
}

.login-form .input {
    box-shadow:
        inset 4px 4px 4px rgba(165, 163, 163, 0.315),
        4px 4px 4px rgba(218, 218, 218, 0.13);
}

/* ---------------------- Toast Styles ---------------------- */
.com-toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    min-width: 350px;
    font-size: 16px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(67, 89, 113, 0.1);
    box-shadow: 0 4px 16px rgba(161, 172, 184, 0.45);
    border-radius: 8px;
    z-index: 1000;
    padding: 16px;
}

.com-toast:not(.show) {
    display: none;
}

.com-toast.bg-success {
    color: #fff;
    background-color: rgba(113, 221, 55, 0.85) !important;
    box-shadow: 0 4px 16px rgba(113, 221, 55, 0.4);
}

.com-toast.bg-success .toast-header .btn-close {
    background-color: #71dd37 !important;
    box-shadow: 0 3px 6px 0 rgba(113, 221, 55, 0.4) !important;
    color: #fff;
}

.com-toast.bg-error {
    color: #fff;
    background-color: rgba(255, 62, 29, 0.85) !important;
    box-shadow: 0 4px 16px rgba(255, 62, 29, 0.4);
}

.com-toast.bg-error .toast-header .btn-close {
    background-color: #ff3e1d !important;
    box-shadow: 0 3px 6px 0 rgba(255, 62, 29, 0.4) !important;
    color: #fff;
}

.com-toast.bg-warning {
    color: #fff;
    background-color: rgba(255, 171, 0, 0.85) !important;
    box-shadow: 0 4px 16px rgba(255, 171, 0, 0.4);
}

.com-toast.bg-warning .toast-header .btn-close {
    background-color: #ffab00 !important;
    box-shadow: 0 3px 6px 0 rgba(255, 171, 0, 0.4) !important;
    color: #fff;
}

.com-toast.bg-info {
    color: #fff;
    background-color: rgba(3, 195, 236, 0.85) !important;
    box-shadow: 0 4px 16px rgba(3, 195, 236, 0.4);
}

.com-toast.bg-info .toast-header .btn-close {
    background-color: #03c3ec !important;
    box-shadow: 0 3px 6px 0 rgba(3, 195, 236, 0.4) !important;
    color: #fff;
}

.com-toast .toast-header {
    display: flex;
    align-items: center;
    background-color: transparent;
    background-clip: padding-box;
    border-bottom: 0 solid transparent;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 16px;
}

.com-toast .toast-header .icon-header {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.com-toast .toast-header .btn-close {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 24px;
    height: 24px;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(161, 172, 184, 0.4);
    color: #a1acb8;
    box-sizing: content-box;
    transition: all 0.23s ease 0.1s;
}

.com-toast .toast-body {
    word-wrap: break-word;
}

@media (max-width: 575px) {
    .com-toast {
        min-width: 80%;
    }
}

/* Table styles */
.com-table {
    margin: 20px;
}

.com-table .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.com-table .create-btn {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #696cff;
    color: white;
    border: none;
    cursor: pointer;
}

.com-table .create-btn:hover {
    opacity: 0.5;
}

.com-table .table-scroll-container {
    max-height: calc(100vh - 260px);
    position: relative;
    overflow: auto;
    width: 100%;
}

.com-table table {
    width: 100%;
    border-collapse: collapse;
}

.com-table thead th {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 10;
    width: 30%;
}

.com-table thead th:last-child {
    width: 7%;
    text-align: center;
}

.com-table th,
.com-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.com-table th input[type='checkbox'] {
    margin: 0;
}

.com-table tr:hover {
    background-color: #f5f5f5;
}

.com-table .table-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.com-table .table-action-btn {
    padding: 0 5px;
}

.com-table .table-action-btn svg {
    width: 20px;
    height: 20px;
}

.com-table .table-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.com-table .pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
}

.com-table .pagination-btn,
.com-table .limit-btn {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.com-table .pagination-btn.disabled,
.com-table .limit-btn.active {
    background-color: #e9e9e9;
    cursor: not-allowed;
    pointer-events: none;
    color: #999;
}

.com-table .pagination-btn a,
.com-table .limit-btn a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.com-table .pagination-btn:hover:not(.disabled),
.com-table .limit-btn:hover:not(.active) {
    background-color: #e9e9e9;
}

/* Form styles */
.com-form {
    padding: 16px;
}

.com-form .form-required {
    color: red;
}

.com-form .form-group {
    margin-bottom: 15px;
}

.com-form .form-group.checkbox {
    width: fit-content;
}

.com-form label {
    display: block;
    margin-bottom: 5px;
}

.com-form input[type='text'],
.com-form input[type='email'],
.com-form input[type='password'],
.com-form textarea,
.com-form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.com-form .form-file-preview {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.com-form .form-file-preview img {
    width: auto;
    height: 100%;
    max-height: 200px;
}

.com-form .form-file-preview .file-preview-item {
    position: relative;
}

.com-form .form-file-preview .file-preview-item .remove-button {
    display: none;
    padding: 4px;
    border: none;
    background: transparent;
}

.com-form .form-file-preview .file-preview-item:hover .remove-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.com-form .form-file-preview .file-preview-item .remove-button svg {
    width: 30px;
    height: 30px;
}

.com-form .form-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.com-form .btn-save {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #696cff;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 16px;
}

.com-form .btn-save:hover {
    opacity: 0.5;
}
