/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
    /**
     * colors
     */

    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --plant-green: hsl(152, 40%, 20%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);

    /**
    * typography
    */

    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    /**
     * border-radius
     */

    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    /**
     * transition 
     */

    --transition-timing: 0.2s ease;
}

/* 
*** Common Style ***
*/
.section-container {
    background: #ffffff;
    border-radius: 10px;
    padding: 8px;

    .section-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        border-bottom: 2px solid var(--main-color);
        border-bottom-left-radius: 12px;

        .title {
            font-size: 25px;
            color: #fff;
            font-weight: 700;
            line-height: 1.2;
            padding: 8px 16px;
            background: var(--main-color);
            border-radius: 10px;
            border-bottom-right-radius: 0;
            position: relative;

            &:after {
                content: "";
                height: 15px;
                bottom: 0;
                position: absolute;
                width: 42px;
                right: -42px;
                border-radius: 0px 0px 0px 26px;
                box-shadow: -15px 0px 0px 0px var(--main-color);
                pointer-events: none;
            }
        }

        .view-more-btn {
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.logout-btn {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--main-color);
    font-weight: 500;
    line-height: 22px;
    color: #fd5c5c;
    border-radius: 5px;
    padding: 8px 16px;

    &:hover {
        background-color: #e9e9e9;
        color: #fd5c5c;
    }

    svg {
        width: 20px;
        height: 20px;
        fill: #fd5c5c;
        margin-right: 8px;
    }
}

.session-title {
    position: relative;
    padding-bottom: 20px;
    text-align: center;
    background: url(../icons/session-title-bg.png) bottom center no-repeat;
    margin: 20px 0;
}

.session-row {
    background: #fff;
    padding: 16px;
    border-radius: 5px;
}

.row-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
    line-height: 1;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    svg {
        fill: var(--main-color);
        margin-right: 8px;
        width: 24px;
        height: 24px;
    }
}

.socials-list {
    a {
        &:hover {
            color: var(--main-color);
        }

        img {
            width: 30px;
            height: 30px;
            margin-right: 8px;
        }
    }
}

.html {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    width: 100%;
    overflow: auto;

    li {
        width: 100% !important;
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    #click-dropdown {
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 110%;
        right: 0;
        background-color: #ffffff;
        width: max-content;
        overflow: auto;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 16px;
        border-radius: 5px;

        &.show {
            display: block;
        }
    }
}

.form {
    .form-group {
        margin-bottom: 16px;

        label {
            display: block;
            margin-bottom: 5px;
        }

        .form-required {
            color: red;
        }

        input,
        textarea,
        select {
            width: 100%;
            padding: 4px 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .radio-group {
            &.horizontal {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                label {
                    margin-bottom: 0;
                    padding: 0 8px;
                    margin-right: 16px;
                }

                input {
                    width: fit-content;
                }
            }
        }
    }
}

/* 
*** Header ***
*/
header {
    position: sticky;
    top: -40px;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

    .header-nav {
        width: 100%;
        margin-bottom: 16px;
        background: #d4d4d4;

        .nav-container {
            min-height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: #202020;

            .nav-info {
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    font-size: 14px;
                    color: #202020;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .nav-info-icon {
                    height: 20px;
                    width: 20px;
                    margin-right: 8px;
                }
            }

            .open-side-panel-btn {
                background: transparent;
                display: none;
                font-size: 20px;
                cursor: pointer;
                color: #202020;
                border: none;

                &:hover {
                    color: var(--main-color);
                }
            }

            .icon-nav-info {
                display: none;

                a {
                    margin-left: 8px;

                    .nav-info-icon {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }

    .header-container {
        .header-top {
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
                width: 20%;

                img {
                    height: 80px;
                    width: auto;
                    max-width: 90%;
                }
            }

            .search {
                width: 60%;

                .search-container {
                    position: relative;
                    width: 100%;

                    #search-input {
                        width: 100%;
                        padding: 8px 16px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        font-size: 16px;

                        &:focus {
                            outline: none;
                        }
                    }

                    #suggestions {
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
                        border-top: none;
                        background-color: white;
                        border-radius: 0 0 4px 4px;
                        max-height: 70vh;
                        overflow-y: auto;
                        display: none;
                        z-index: 999;

                        .suggestion-item {
                            padding: 8px 16px;
                            cursor: pointer;
                            border-bottom: 1px solid #f0f0f0;

                            &:hover {
                                background-color: #f0f0f0;
                            }
                        }
                    }
                }
            }

            .user-cart {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .current-user {
                    .avatar {
                        width: 40px;
                        height: 40px;
                        min-width: 40px;
                        border-radius: 50%;
                        border: 1px solid var(--main-color);
                    }

                    .user-dropdown-menu {
                        text-align: center;

                        .avatar {
                            width: 60px;
                            height: 60px;
                            min-width: 40px;
                            border-radius: 50%;
                            border: 1px solid var(--main-color);
                            margin-bottom: 8px;
                        }

                        .username {
                            font-size: 18px;
                            color: var(--main-color);
                            font-weight: 500;
                            line-height: 22px;
                        }

                        .page-link {
                            margin-top: 16px;

                            a {
                                display: block;
                                width: 100%;
                                padding: 8px;
                                font-size: 18px;
                                color: #202020;
                                font-weight: 500;
                                line-height: 22px;
                                display: flex;
                                align-items: center;

                                &:hover {
                                    background-color: #e9e9e9;
                                    color: var(--main-color);

                                    .icon {
                                        fill: var(--main-color);
                                    }
                                }

                                .icon {
                                    width: 20px;
                                    height: 20px;
                                    fill: #202020;
                                    margin-right: 8px;
                                }
                            }
                        }

                        .logout-btn {
                            margin-top: 16px;
                            padding: 8px;
                        }
                    }
                }

                .login-link {
                    font-size: 18px;
                    color: var(--main-color);
                    font-weight: 500;
                    line-height: 1;
                    display: flex;
                    align-items: center;

                    &:hover {
                        text-decoration: underline;
                    }

                    svg {
                        width: 20px;
                        height: 20px;
                        fill: var(--main-color);
                        margin-right: 8px;
                    }
                }

                .cart {
                    margin-left: 16px;
                    position: relative;

                    svg {
                        width: 40px;
                        height: 40px;
                        fill: var(--main-color);
                    }

                    .number {
                        position: absolute;
                        right: -10px;
                        width: 20px;
                        height: 20px;
                        font-size: 12px;
                        border-radius: 50%;
                        color: #fff;
                        background: #fd5c5c;
                        text-align: center;
                    }
                }
            }
        }

        .header-menu {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 8px 0;

            .menu-list {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;

                li {
                    position: relative;

                    a {
                        font-size: 14px;
                        font-weight: 500;
                        color: #2b2b2b;
                        text-decoration: none;
                        display: block;
                        padding: 8px 16px;
                        transition: background 0.3s;
                        white-space: nowrap;
                        text-transform: uppercase;

                        &:hover {
                            color: var(--main-color);
                        }

                        &.active {
                            color: #fff !important;
                            background: var(--main-color);
                            border-radius: 0 10px 0 10px;
                        }
                    }

                    .submenu {
                        background: #fff;
                        display: none;
                        position: absolute;
                        left: 0;
                        top: 90%;
                        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
                        border-radius: 5px;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        min-width: 200px;
                        width: auto;
                        z-index: 1000;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateY(20px);
                        transition:
                            transform 0.3s ease,
                            opacity 0.3s ease,
                            visibility 0.3s ease;

                        li {
                            position: relative;
                            padding: 8px 16px;

                            .submenu {
                                left: 100%;
                                top: 0;
                                transform: translateX(-20px);
                                transition:
                                    transform 0.3s ease,
                                    opacity 0.3s ease,
                                    visibility 0.3s ease;
                            }

                            &:hover {
                                >.submenu {
                                    display: block;
                                    opacity: 1;
                                    visibility: visible;
                                    transform: translateX(0);
                                }

                                >a {
                                    color: var(--main-color);
                                    padding-left: 8px;
                                    border-left: 2px solid #3ca0e7;
                                    transition: all 0.3s ease;
                                }
                            }

                            a {
                                font-size: 14px;
                                padding: 0;
                                color: #2b2b2b;
                                text-decoration: none;
                                display: block;
                                transition: background 0.3s;

                                &.active {
                                    color: var(--main-color) !important;
                                    padding-left: 8px;
                                    border-left: 2px solid #3ca0e7;
                                    transition: all 0.3s ease;
                                    background: #fff;
                                    border-radius: unset;
                                }
                            }
                        }
                    }

                    &:hover>.submenu {
                        display: block;
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }
            }
        }
    }

    .side-panel {
        width: 0;
        position: fixed;
        z-index: 1;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;

        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;

            &:hover {
                color: #f1f1f1;
            }
        }

        .close-side-panel-btn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
        }

        .menu-collapsible {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                position: relative;

                .mainmenu {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .toggle-submenu-btn {
                        width: fit-content;
                        background: transparent;
                        cursor: pointer;
                        padding: 8px 16px;
                        border: none;
                        outline: none;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20px;
                        color: white;

                        &:after {
                            content: '\002B';
                        }

                        &.active:after {
                            content: '\2212';
                        }
                    }
                }

                a {
                    padding: 8px 16px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    color: #fff;
                    text-decoration: none;
                    display: block;

                    &.active {
                        color: var(--main-color);
                    }
                }

                .submenu {
                    background: #202020;
                    list-style: none;
                    padding: 0 16px;
                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                    transition:
                        max-height 0.3s ease,
                        opacity 0.3s ease;

                    &.open {
                        max-height: 100vh;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    header {
        .header-nav {
            .nav-container {
                .nav-info {
                    display: none;
                }

                .open-side-panel-btn {
                    display: block;
                }

                .icon-nav-info {
                    display: block;
                }
            }
        }

        .header-container {
            .header-top {
                justify-content: space-between;
                padding-bottom: 16px;

                .logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 50px;
                    }
                }

                .search {
                    width: 100%;
                }

                .user-cart {
                    width: fit-content;

                    .login-link,
                    .current-user {
                        display: none;
                    }
                }
            }

            .header-menu {
                display: none;
            }
        }
    }
}

/* 
*** App Bar ***
*/
.app-bar {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    min-width: 320px;
    background-color: #ffffff;
    margin: 0px auto;
    z-index: 3;
    will-change: transform;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

    .app-bar-element {
        width: 70px;
        height: 70px;

        .app-bar-inner {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &.active {
                .page-icon {
                    fill: var(--main-color) !important;
                }

                div {
                    color: var(--main-color);
                }
            }

            .page-icon {
                width: 20px;
                height: 20px;
            }

            div {
                font-size: 12px;
                font-weight: 500;
                line-height: 14px;
                color: #696969;
            }
        }
    }

    .app-bar-side {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .app-bar-center {
        position: relative;

        .shape-icon {
            position: absolute;
            top: -9px;
            width: 100%;
        }

        .app-bar-element {
            .app-bar-inner {
                background: #d4d4d4;
                position: absolute;
                top: 0;
                left: 0;
                padding-bottom: 10px;

                &.active {
                    background: var(--main-color);

                    .page-icon {
                        fill: #fff !important;
                    }

                    div {
                        color: #fff;
                    }
                }

                .page-icon {
                    width: 25px;
                    height: 25px;
                }

                div {
                    color: #202020;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .app-bar {
        display: flex;
    }
}

/* 
*** Footer ***
*/
footer {
    background: #d4d4d4;

    .footer-content {
        padding: 16px;

        .logo {
            width: 100%;
            margin-bottom: 8px;

            img {
                height: 50px;
                width: auto;
                max-width: 90%;
            }
        }

        h6 {
            margin-bottom: 20px;
        }

        .footer-title {
            font-size: 20px;
            font-weight: 500;
            line-height: 22px;
            color: #202020;
            margin-bottom: 20px;
        }

        .footer-link {
            margin-bottom: 8px;

            a {
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                color: #202020;

                &:hover {
                    color: var(--main-color);

                    svg {
                        fill: var(--main-color);
                    }
                }

                svg {
                    width: 20px;
                    height: 20px;
                    fill: #202020;
                    margin-right: 8px;
                }
            }
        }
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border-top: 1px solid #ccc;
    }
}

@media (max-width: 1024px) {
    footer {
        padding-bottom: 70px;
    }
}

/* 
*** Page Session ***
*/
.main-container {
    padding: 16px 0;
    min-height: calc(100vh - 396px);
    overflow: hidden;
}

.home-container {
    .top-banner {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.about-container {
    .core-value-item {
        background: #fff;
        border-radius: 5px;
        padding: 16px;
        height: calc(100% - 16px);
        margin-bottom: 16px;
    }
}

.contact-container {
    .contact-frame {
        margin-bottom: 20px;
    }

    .contact-form {
        margin-top: 16px;
        width: 100%;

        .form-group {
            width: 100%;

            label {
                display: block;
                margin-bottom: 0.5rem;
                font-weight: bold;
                width: 100%;
            }

            input,
            textarea {
                width: 100%;
                padding: 0.5rem;
                margin-bottom: 1rem;
                border: 1px solid #ccc;
                border-radius: 4px;

                &:focus {
                    outline: none;
                }
            }
        }

        button {
            background-color: var(--main-color);
            color: white;
            padding: 0.75rem;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.product-container {
    .product-item {
        position: relative;
        box-shadow: 0 2px 7px #dfdfdf;
        background: #fff;
        border-radius: 8px;
        padding: 16px;
        height: calc(100% - 16px);

        .product-img {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            aspect-ratio: 1 / 1;
            background: #fff;
            border-radius: 5px;
            margin: auto;
            margin-bottom: 16px;

            img {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                color: transparent;
                max-width: 100%;
                max-height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                border: 1px solid #fff;
                border-radius: 5px;
            }
        }

        .product-name {
            margin-bottom: 8px;
            text-decoration: none;
            font-size: 20px;
            color: #202020;
            font-weight: 500;
            line-height: 22px;
        }
    }
}

.grid-card-item {
    height: 100%;
    padding: 8px 0;

    .grid-card-main {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #fff;
        box-shadow: 0 2px 7px #dfdfdf;
        border-radius: 8px;

        &:hover {
            box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
        }

        .grid-card-info {
            .grid-card-img {
                margin-bottom: 16px;
                border-radius: 5px;

                &.zoom {
                    display: block;
                    overflow: hidden;
                    perspective: 600px;

                    div {
                        transition: .8s ease-out;
                        will-change: transform;

                        &:hover {
                            transform: scale(1.1);
                        }

                        img {
                            transition: all 0.3s ease-in;
                        }
                    }
                }

                .image {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    background: #fff;
                    margin: auto;

                    img {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        color: transparent;
                        max-width: 100%;
                        max-height: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                }
            }


            .grid-card-detail {
                padding: 8px 16px;

                .product-name {
                    font-size: 16px;
                    color: #202020;
                    font-weight: 500;
                    line-height: 22px;

                    &:hover {
                        color: var(--main-color);
                    }
                }

                .blog-name {
                    font-size: 18px;
                    color: #202020;
                    font-weight: 500;
                    line-height: 22px;
                    margin-bottom: 8px;
                    text-decoration: none;

                    &:hover {
                        color: var(--main-color);
                    }
                }

                .blog-summary {
                    font-size: 14px;
                    color: #202020;
                    font-weight: 400;
                    line-height: 22px;
                    margin-bottom: 8px;
                }
            }

            .discount {
                position: absolute;
                left: 0;
                top: 20px;
                text-transform: uppercase;
                font-size: .75rem;
                font-weight: 700;
                background: red;
                color: #fff;
                padding: 3px 10px;
                z-index: 999 !important;
            }
        }

        .grid-card-actions {
            width: 100%;
            min-height: 67px;
            padding: 8px 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #eee;

            .product-price {
                .new-price {
                    font-size: 18px;
                    font-weight: 700;
                    color: #fd0010;
                    line-height: 1.5;
                }

                .old-price {
                    font-size: 14px;
                    font-weight: 400;
                    color: #929292;
                    line-height: 1.5;
                }
            }

            .add-to-cart {
                outline: none;
                border: none;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    svg {
                        opacity: 0.8;
                    }
                }

                svg {
                    width: 32px;
                    height: 32px;
                    fill: var(--main-color);
                }
            }
        }
    }
}

.product-detail-container {
    .product-info {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 8px;
        margin-bottom: 8px;

        div {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            color: #202020;
        }

        .name {
            font-size: 24px;
            font-weight: 500;
            color: var(--main-color);
        }

        .price {
            .new-price {
                font-size: 18px;
                font-weight: 700;
                color: #fd0010;
                line-height: 1.5;
            }

            .old-price {
                font-size: 14px;
                font-weight: 400;
                color: #929292;
                line-height: 1.5;
            }
        }

        .tag {
            font-size: 12px;
            font-weight: 400;
            line-height: 1;
            color: #202020;
            background: #d4d4d4;
            border-radius: 10px;
            padding: 4px 8px;

            a {
                color: #202020;
            }
        }
    }
}

/*-----------------------------------*\
    #TESTIMONIAL
\*-----------------------------------*/

.testimonials-cta-service-container {
    .testimonial-container {
        height: 100%;

        .swiper-cards {
            height: 100%;
        }

        .testimonial-card {
            padding: 30px 20px;
            border: 1px solid var(--cultured);
            -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
            text-align: center;
            margin-bottom: 25px;
            background: #fff;
            height: 100%;

            .testimonial-banner {
                margin: auto;
                margin-bottom: 20px;
                -webkit-border-radius: 50%;
                border-radius: 50%;
            }

            .testimonial-name {
                font-weight: var(--weight-700);
                text-transform: uppercase;
                color: var(--sonic-silver);
                margin-bottom: 5px;
            }

            .testimonial-title {
                color: var(--onyx);
                font-size: var(--fs-7);
                margin-bottom: 15px;
            }

            .quotation-img {
                margin: auto;
                margin-bottom: 10px;
            }

            .testimonial-desc {
                max-width: 70%;
                margin: auto;
                color: var(--sonic-silver);
                font-size: var(--fs-7);
            }
        }
    }

    .cta-container {
        .slide-swiper-pagination {
            text-align: center;
        }

        .cta-card {
            position: relative;
            -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
            overflow: hidden;

            .cta-banner {
                width: 100%;
                height: auto;
                -o-object-fit: cover;
                object-fit: cover;
            }

            .cta-content {
                background: hsla(0, 0%, 100%, 0.7);
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                padding: 15px 20px;
                text-align: center;
                -webkit-border-radius: var(--border-radius-sm);
                border-radius: var(--border-radius-sm);
            }

            .cta-content .discount {
                background: var(--eerie-black);
                color: var(--white);
                font-size: var(--fs-11);
                font-weight: var(--weight-600);
                text-transform: uppercase;
                width: -webkit-max-content;
                width: -moz-max-content;
                width: max-content;
                margin: auto;
                padding: 0 5px;
                -webkit-border-radius: var(--border-radius-sm);
                border-radius: var(--border-radius-sm);
                margin-bottom: 5px;
            }

            .cta-title {
                color: var(--onyx);
                font-size: var(--fs-5);
                text-transform: capitalize;
                margin-bottom: 5px;
            }

            .cta-text {
                color: var(--sonic-silver);
                font-size: var(--fs-7);
                margin-bottom: 5px;
            }

            .cta-btn {
                font-size: var(--fs-9);
                color: var(--sonic-silver);
                text-transform: uppercase;
                font-weight: var(--weight-700);
                margin: auto;
            }
        }
    }

    .service-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: center;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 8px;
        padding: 16px 32px;
        border: 1px solid var(--cultured);
        -webkit-border-radius: var(--border-radius-md);
        border-radius: var(--border-radius-md);
        background: #fff;
        height: 100%;

        .service-item {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            justify-content: center;

            .icon {
                width: 35px;
                height: 35px;
                fill: var(--main-color);
                -webkit-transition: var(--transition-timing);
                -o-transition: var(--transition-timing);
                transition: var(--transition-timing);
                margin-right: 16px;
            }

            .service-title {
                color: var(--sonic-silver);
                font-size: var(--fs-7);
                font-weight: var(--weight-600);
                text-transform: capitalize;
                margin-bottom: 5px;
            }

            .service-desc {
                color: var(--sonic-silver);
                font-size: var(--fs-9);
                margin-bottom: 0;
            }
        }
    }
}

/*-----------------------------------*\
  #SIGNIN & SIGNUP
\*-----------------------------------*/

.authen-container {
    background: #f8f9fd;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
}

.authen-container .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
}

.authen-container .form {
    margin-top: 20px;
}

.authen-container .form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

.authen-container .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
}

.authen-container .form .input::placeholder {
    color: rgb(170, 170, 170);
}

.authen-container .form .input:focus {
    outline: none;
    border-inline: 2px solid #12b1d1;
}

.authen-container .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.authen-container .form .forgot-password a {
    font-size: 11px;
    color: #0099ff;
    text-decoration: none;
}

.authen-container .form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.authen-container .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.authen-container .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.authen-container .social-account-container {
    margin-top: 25px;
}

.authen-container .social-account-container .title {
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(170, 170, 170);
}

.authen-container .social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}

.authen-container .social-account-container .social-accounts .social-button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
    transition: all 0.2s ease-in-out;
}

.authen-container .social-account-container .social-accounts .social-button .svg {
    fill: white;
    margin: auto;
}

.authen-container .social-account-container .social-accounts .social-button:hover {
    transform: scale(1.2);
}

.authen-container .social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
}

.authen-container .signup-title {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: var(--fs-5);
}

.authen-container .signup-title a {
    text-decoration: none;
    color: #0099ff;
}

/*-----------------------------------*\
  #CART
\*-----------------------------------*/
.cart-container {
    .cart-item {
        box-shadow: 0 2px 7px #dfdfdf;
        padding: 16px;
        background: #fff;
        border-radius: 8px;
        margin-bottom: 16px;

        .col-content {
            border-right: 1px solid #ccc;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;

            &.actions {
                align-items: center;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            .col-label {
                margin-bottom: 4px;
            }
        }

        .product-price {
            font-weight: 500;
            color: #202020;
        }

        .quantity {
            .btn-group {
                a {
                    border: 1px solid var(--main-color);
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--main-color);
                    padding: 4px 16px;
                    cursor: pointer;
                    float: left;

                    &:not(:last-child) {
                        border-right: none;
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }

                &:after {
                    content: '';
                    clear: both;
                    display: table;
                }
            }
        }

        .product-item {
            display: block;
            position: relative;
            height: 60px;
            display: flex;
            align-items: center;

            .product-img {
                position: relative;
                height: 100%;
                aspect-ratio: 1 / 1;
                background: #fff;
                border-radius: 5px;
                margin-right: 8px;

                img {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    color: transparent;
                    max-width: 100%;
                    max-height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    border: 1px solid #fff;
                    border-radius: 5px;
                }
            }

            .product-name {
                margin-bottom: 8px;
                text-decoration: none;
                font-size: 16px;
                color: #202020;
                font-weight: 500;
                line-height: 22px;
            }
        }
    }

    .checkout-form {
        border: 1px solid var(--main-color);
        box-shadow: 0 2px 7px #dfdfdf;
        padding: 16px;
        background: #fff;
        border-radius: 8px;
        margin-bottom: 16px;

        .bill-card {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;

            .bill-title {
                font-size: 16px;
                margin-bottom: 8px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .title {
                    width: 70%;
                    color: #696969;
                }

                .value {
                    width: 30%;
                    font-weight: 500;
                    color: #202020;
                    text-align: right;

                    &.price {
                        color: #fd5c5c;
                    }
                }
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 16px;

            .background-button {
                margin-left: 16px;
            }
        }
    }
}

@media (max-width: 768px) {
    .cart-container {
        .cart-item {
            .col-content {
                border-right: unset;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin: 8px 0;

                .col-label {
                    margin-bottom: 0;
                    margin-right: 16px;
                }

                &.actions {
                    justify-content: flex-end;
                }
            }
        }
    }
}

/*-----------------------------------*\
  #ACCOUNT
\*-----------------------------------*/
.account-container {
    .user-info {
        display: flex;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid #efefef;

        .avatar {
            width: 50px;
            height: 50px;
            border: 1px solid #fff;
            border-radius: 50%;
            margin-right: 16px;
        }

        .username {
            font-size: 18px;
            color: #333;
            font-weight: 500;
            line-height: 22px;
        }

        .email {
            font-size: 14px;
            color: #888;
            font-weight: 300;
            line-height: 22px;
        }
    }

    .menu {
        padding: 16px 0;

        .menu-item {
            font-size: 18px;
            color: #888;
            font-weight: 500;
            line-height: 22px;
            display: flex;
            align-items: center;
            padding: 8px 0;

            &.active,
            &:hover {
                color: var(--main-color);

                .icon {
                    fill: var(--main-color);
                }
            }

            .icon {
                width: 22px;
                height: 22px;
                fill: #333;
                margin-right: 8px;
            }
        }
    }

    .page-content {
        .session {
            box-shadow: 0 2px 7px #dfdfdf;
            padding: 16px;
            background: #fff;
            border-radius: 8px;
        }

        .profile {
            .page-title {
                padding-bottom: 16px;
                margin-bottom: 16px;
                border-bottom: 1px solid #efefef;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logout-btn {
                    width: fit-content;
                    min-width: fit-content;
                }
            }
        }

        .purchase {
            .order-item {
                margin-bottom: 16px;

                .order-item-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid var(--main-color);
                    font-weight: 500;
                    padding: 8px 0;
                }

                .cart-item {
                    border-bottom: 1px solid #efefef;
                    padding: 16px 0;

                    .col-content {
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;

                        .col-label {
                            margin-bottom: 4px;
                        }
                    }

                    .product-price {
                        font-weight: 500;
                        color: #202020;
                    }

                    .product-item {
                        display: block;
                        position: relative;
                        height: 60px;
                        display: flex;
                        align-items: center;

                        .product-img {
                            position: relative;
                            height: 100%;
                            aspect-ratio: 1 / 1;
                            background: #fff;
                            border-radius: 5px;
                            margin-right: 8px;

                            img {
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                color: transparent;
                                max-width: 100%;
                                max-height: 100%;
                                -o-object-fit: cover;
                                object-fit: cover;
                                border: 1px solid #fff;
                                border-radius: 5px;
                            }
                        }

                        .product-name {
                            margin-bottom: 8px;
                            text-decoration: none;
                            font-size: 16px;
                            color: #202020;
                            font-weight: 500;
                            line-height: 22px;
                        }
                    }
                }

                .order-item-footer {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap-reverse;
                    gap: 16px;
                    padding: 16px 0;

                    .recommend-actions {
                        display: flex;
                        align-items: center;

                        a:last-child {
                            margin-left: 16px;
                        }
                    }

                    .order-info {
                        .title {
                            margin-right: 8px;
                        }

                        .price {
                            color: #fd5c5c;
                        }
                    }
                }
            }
        }
    }
}