<aside id="admin-aside" class="admin-aside">
    <div class="aside-header">
        <h3>Admin Panel</h3>
        <button id="aside-toggle" class="aside-toggle">☰</button>
        <button id="collapse-toggle" class="collapse-toggle">⇄</button>
    </div>
    <ul class="aside-menu">
        <li class="menu-item" data-link="/admin" title="Bảng Điều Khiển">
            <a href="/admin">
                <svg class="icon icon-dashboard sidebar-icon" style="fill: #fff;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-dashboard"></use></svg>
                <span class="title">Bảng Điều Khiển</span>
            </a>
        </li>
        <li class="menu-item" data-link="/admin/blogs" title="Blog">
            <a href="/admin/blogs">
                <svg class="icon icon-blogs sidebar-icon" style="fill: #fff;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-blogs"></use></svg>
                <span class="title">Blog</span>
            </a>
        </li>
        <li class="menu-item" data-link="/admin/users" title="Người Dùng">
            <a href="/admin/users">
                <svg class="icon icon-users sidebar-icon" style="fill: #fff;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-users"></use></svg>
                <span class="title">Người Dùng</span>
            </a>
        </li>
    </ul>
    <div class="aside-footer">
        <a href="/admin/auth/logout" class="logout" title="Đăng Xuất">
            <svg class="icon icon-log-out" style="fill: #fff;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-log-out"></use></svg>
            <span>Đăng Xuất</span>
        </a>
    </div>
</aside>
